#Frontpage, #QA, #Info, #IOX, #overblik, #Pitch {
	background-color:
}

.MenuTable {
	width: 100%;
	border-style: double;
	border-size: 1px;
}

.contact p {
	line-height: 1.4;
}

#QA{

}

.MenuTable p
{
	width: 90px;
	border-radius: 25px;
	text-align: center;
	background-color: #F20403
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.01rem;
  background-color: #efefef;
  text-align: center;
  height: 40px;
}

.space {
	border-collapse: separate;
	padding-left: 50%;
}

#overblik
{
	background: url(SoMe.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    left: 0;
    right: 0;
}

#overblik p{
	color: #F20403;
}

#Pitch{
	background: url(SoMePitch.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-opacity: 0.2;
	position: fixed;
	left: 0;
	right: 0;
}
